<%- include("header") -%>

<div class="container"></div>

<div class="text-center my-5">
  <button type="button" class="btn btn-primary sams">More Posts</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/allPost.js"></script>

<%- include("footer") -%>
